@use "./component/input";
@use "./component/check_code";
@use "./component/button";
@use "./component/error";
@use "./component/theme";
@use "./pages/editor_page";
@use "./pages/page_projects";
@use "./pages/form";

$PIMARY_COLOR: #d9d9d9;
$bg-color-form: rgb(226, 226, 226);
$FORM_COLOR: rgb(238, 238, 238);
$NAVBAR_COLOR: rgba(215, 215, 215, 0.9);
$navbar-shadow: rgb(184, 184, 184);

[theme="true"] {
  .App,
  .container {
    background-color: $PIMARY_COLOR;
  }

  form {
    background-color: $bg-color-form;
  }

  form {
    box-shadow: 0 0 0.5rem $FORM_COLOR;
    z-index: 2;
  }

  form .login_btn {
    color: rgba(0, 0, 0, 0.5);
  }

  .navbar a {
    color: black !important;
  }

  .navbar {
    background-color: $NAVBAR_COLOR !important;
    box-shadow: 0 0 4px 4px $navbar-shadow;
  }
}

form .login_btn {
  color: rgba(255, 255, 255, 0.7);
}

.wave_bottom {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.wave_top {
  position: absolute;
  top: 0;
  z-index: 1;
}
