[theme="true"] {
  .btn {
    &.btn-add {
      color: #393939 !important;
      background-color: #e0e0e0 !important;
    }
  }
}

.btn {
  &.btn-add {
    background-color: #505050 !important;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.1rem;
    width: 3rem;
  }
}
